AutoGateFlow.txt
[
    {
        "id": "dc394139.2e6eb",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "21819d4.2fa6c62",
        "type": "ui_switch",
        "z": "dc394139.2e6eb",
        "name": "AutoGate Status",
        "label": "AutoGate Status",
        "group": "ef97358f.33ff38",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "true",
        "topic": "DataReceive",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "fa-toggle-on fa-4x",
        "oncolor": "#f44242",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "fa-toggle-off fa-4x",
        "offcolor": "#42f456",
        "x": 520,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "bd8106c7.82e168",
        "type": "mqtt out",
        "z": "dc394139.2e6eb",
        "name": "DataReceive",
        "topic": "DataReceive",
        "qos": "2",
        "retain": "",
        "broker": "97cd75f9.ee6138",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "7b4e738a.33187c",
        "type": "ui_button",
        "z": "dc394139.2e6eb",
        "name": "Switch ON",
        "group": "ef97358f.33ff38",
        "order": 3,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "OPEN AUTOGATE",
        "color": "#f44242",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "DataReceive",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "bd8106c7.82e168",
                "21819d4.2fa6c62"
            ]
        ]
    },
    {
        "id": "32e257e9.27a158",
        "type": "ui_button",
        "z": "dc394139.2e6eb",
        "name": "Switch OFF",
        "group": "ef97358f.33ff38",
        "order": 3,
        "width": "3",
        "height": "3",
        "passthru": false,
        "label": "CLOSE AUTOGATE",
        "color": "#42f456",
        "bgcolor": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "DataReceive",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "bd8106c7.82e168",
                "53f3d635.6bb938"
            ]
        ]
    },
    {
        "id": "53f3d635.6bb938",
        "type": "function",
        "z": "dc394139.2e6eb",
        "name": "Make it OFF",
        "func": "msg.payload = \"OFF\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "21819d4.2fa6c62"
            ]
        ]
    },
    {
        "id": "121a4ce7.05e0f3",
        "type": "mqtt in",
        "z": "dc394139.2e6eb",
        "name": "",
        "topic": "DataTransmit",
        "qos": "2",
        "broker": "97cd75f9.ee6138",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "56183c20.e06fb4",
                "216b9bec.5855d4"
            ]
        ]
    },
    {
        "id": "5419102c.8d3b",
        "type": "function",
        "z": "dc394139.2e6eb",
        "name": "TimeElapsed",
        "func": "//var lastUpdated = msg.payload.Time;\n//lastUpdated = new Date(lastUpdated).getTime();\nlastUpdated = new Date().getTime();\ncontext.flow.sonoff900 = lastUpdated;\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "56183c20.e06fb4",
        "type": "json",
        "z": "dc394139.2e6eb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "5419102c.8d3b"
            ]
        ]
    },
    {
        "id": "6fbe04dc.0e957c",
        "type": "inject",
        "z": "dc394139.2e6eb",
        "name": "CheckIfOnline",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "502827a.444a0d8"
            ]
        ]
    },
    {
        "id": "502827a.444a0d8",
        "type": "function",
        "z": "dc394139.2e6eb",
        "name": "Check Status",
        "func": "var readCurrent = new Date().getTime();\n//readCurrent = readCurrent + 28800000; //+8 hours\nvar timeElapsed = (readCurrent - context.flow.sonoff900)/1000;\ntimeElapsed = (timeElapsed/60).toFixed(1); //minute\n\n//check if no update for 2 minutes\nif (timeElapsed > 6){\n    msg.payload = \"OFFLINE\";\n} else {\n    msg.payload = \"ONLINE\";\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 460,
        "wires": [
            [
                "d1d59377.006b8",
                "6a263135.c65dc"
            ]
        ]
    },
    {
        "id": "d1d59377.006b8",
        "type": "ui_text",
        "z": "dc394139.2e6eb",
        "group": "ef97358f.33ff38",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Connection Status:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "216b9bec.5855d4",
        "type": "debug",
        "z": "dc394139.2e6eb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 340,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a263135.c65dc",
        "type": "debug",
        "z": "dc394139.2e6eb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "b9b3082.a1e48f8",
        "type": "inject",
        "z": "dc394139.2e6eb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "cf8f735c.94f4f"
            ]
        ]
    },
    {
        "id": "cf8f735c.94f4f",
        "type": "function",
        "z": "dc394139.2e6eb",
        "name": "Init ",
        "func": "//Init to 2 minutes off from now\ncontext.flow.sonoff900 = new Date().getTime() - 120000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ef97358f.33ff38",
        "type": "ui_group",
        "z": "",
        "name": "AutoGate Remote Controller",
        "tab": "151d84c5.76701b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "97cd75f9.ee6138",
        "type": "mqtt-broker",
        "z": "",
        "name": "68.183.191.7",
        "broker": "68.183.191.7",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "151d84c5.76701b",
        "type": "ui_tab",
        "z": "",
        "name": "Remote Gate Controller",
        "icon": "dashboard",
        "order": 1
    }
]